<div class="modal-overlay">
    <div class="modal-content">
      <h2>Add Alarm</h2>
      <form>
        <div class="form-group">
          <label for="newName">Device Name:</label>
          <select id="newName" name="newName" [(ngModel)]="newAlarm.DeviceName" [ngModelOptions]="{ standalone: true }" required>
            <option *ngFor="let deviceName of deviceNames" [value]="deviceName">{{ deviceName }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="newSensorType">Alarm Type:</label>
          <select id="newSensorType" name="newSensorType" [(ngModel)]="newAlarm.SensorType" [ngModelOptions]="{standalone: true}" required>
            <option value="Temperature" [selected]="newAlarm.SensorType === 'Temperature'">Temperature</option>
            <option value="Humidity" [selected]="newAlarm.SensorType === 'Humidity'">Humidity</option>
            <option value="CO" [selected]="newAlarm.SensorType === 'CO'">CO</option>
            <option value="Alcohol" [selected]="newAlarm.SensorType === 'Alcohol'">Alcohol</option>
            <option value="CO2" [selected]="newAlarm.SensorType === 'CO2'">CO2</option>
            <option value="Toluene" [selected]="newAlarm.SensorType === 'Toluene'">Toluene</option>
            <option value="NH4" [selected]="newAlarm.SensorType === 'NH4'">NH4</option>
            <option value="Acetone" [selected]="newAlarm.SensorType === 'Acetone'">Acetone</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="newCompare">Compare:</label>
          <select id="newCompare" name="newCompare" [(ngModel)]="newAlarm.Compare" [ngModelOptions]="{standalone: true}" required>
            <option value=">" [selected]="newAlarm.Compare === '>'">Greater Than</option>
            <option value="<" [selected]="newAlarm.Compare === '<'">Less Than</option>
          </select>
        </div>
  
        <div class="form-group">
          <label for="newThreshold">Threshold:</label>
          <input type="number" id="newThreshold" name="newThreshold" [(ngModel)]="newAlarm.Threshold" placeholder="0.0" required>
        </div>
  
        <div class="button-group">
          <button type="button" class="save-button" (click)="addAlarm()">Add Alarm</button>
          <button type="button" class="cancel-button" (click)="closeModal()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  