/* graph-modal.component.css */

.modal-title {
    text-align: center;
    background-color: #D3D3D3;
    border-radius: 5px 5px 0 0;
    padding: 10px;
}

.modal-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
    width: 100%;
    margin: 0 auto;
}

.charts, .table {
    width: 100%; /* Full width on smaller screens */
}

/* Set specific heights for each chart canvas */
.chart canvas {
    height: 300px; /* Adjust the height as needed */
    width: 100%; /* Ensure canvas takes full width of its container */
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Add spacing between charts and table */
}

.table-title {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 17px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.experiment-title {
    text-align: center;
    color: #333; /* Adjust color as needed */
    margin-top: 20px; /* Space between table and experiment title */
    margin-bottom: 5px; /* Space between title and experiment content */
    font-weight: bold;
    font-size: 17px;
}

.experiment {
    border: 1px solid #ddd; /* Add a border */
    background-color: #f9f9f9; /* Light background color */
    padding: 10px; /* Padding inside the div */
    margin-top: 20px; /* Margin above the experiment section */
    max-height: 300px; /* Fixed maximum height */
    overflow-y: auto; /* Enable vertical scrolling */
    width: 100%; /* Match the width with the table */
    text-align: center; /* Center the text inside the div */
}

.analyze-button {
    margin-top: 20px;
    padding: 10px;
    width: 100%; /* Full width button */
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #25A1B0;
}

/* Responsive Design for larger screens */
@media (min-width: 768px) {
    .modal-container {
        flex-direction: row; /* Side by side on larger screens */
    }

    .charts, .table {
        flex: 1; /* Split space evenly between charts and table */
        margin-right: 20px; /* Add margin between charts and table */
    }

    .analyze-button {
        width: 48%; /* Adjust button width on larger screens */
    }
}

/* Further adjustments for very large screens if necessary */
@media (min-width: 1024px) {
    .chart canvas {
        height: 400px; /* Larger height for charts on very large screens */
    }
}
